<html>
<head>
<title>Ext JS 4</title>

    <link rel="stylesheet" type="text/css" href="../extjs/resources/css/ext-all.css" /> 
    <script type="text/javascript" src="../extjs/ext-all-debug.js"></script>

	<script type="text/javascript">
	Ext.require(['*']);

	Ext.onReady(function(){

		var panel1 = Ext.create('Ext.panel.Panel', {
			title: 'Panel 1',
			html: 'Panel 1',
			flex: 2 
		});

		var panel2 = Ext.create('Ext.panel.Panel', {
			title: 'Panel 2',
			html: 'Panel 2',
			flex: 1 
		});

		var vbox = Ext.create('Ext.window.Window', {
			title: 'VBox Layout',
			width: 82,
			height: 300,
			layout: {                        
		        type: 'vbox',
		        align: 'stretch'
		    },
			defaults: {
				bodyStyle: 'padding:15px'
		    },
			items: [panel1, panel2]
		});
		vbox.show();
	});
	</script>
</head>
<body>
</body>
</html>