<html>
<head>
<title>Ext JS 4</title>

    <link rel="stylesheet" type="text/css" href="../extjs/resources/css/ext-all.css" /> 
    <script type="text/javascript" src="../extjs/ext-all-debug.js"></script>

	<script type="text/javascript">
	Ext.require(['*']);

	Ext.onReady(function(){

		var panel1 = Ext.create('Ext.panel.Panel', {
			title: 'Panel 1',
			bodyStyle: 'padding:15px',
			html: 'Fit Panel'
		});

		var fit = Ext.create('Ext.window.Window', {
			title: 'Fit Layout',
			width: 100,
			height: 150,
			layout:'fit',
			items: [panel1]
		});
		fit.show();
	});
	</script>
</head>
<body>
</body>
</html>