<html>
<head>
<title>Ext JS 4</title>

    <link rel="stylesheet" type="text/css" href="../extjs/resources/css/ext-all.css" /> 
    <script type="text/javascript" src="../extjs/ext-all-debug.js"></script>

	<script type="text/javascript">
	Ext.require(['*']);

	Ext.onReady(function(){

		var panel1 = Ext.create('Ext.panel.Panel', {
			title: 'Panel 1',
			html: 'x: 10; y: 10 - anchor: 80% 80%',
			anchor:'80% 80%',
			x: 10,
	        y: 10
		});

		var absolute = Ext.create('Ext.window.Window', {
			title: 'Absolute Layout',
			width: 300,
			height: 200,
			layout:'absolute',
			defaults: {
	        	bodyStyle: 'padding:10px'
		    },
			items: [panel1]
		});
		absolute.show();
	});
	</script>
</head>
<body>
</body>
</html>